.cover_video{

    position:absolute;
    height: auto;
     width: auto;
    z-index:-1;

}

.hello{
    z-index: 10;
    position: relative;
   
    
}
.filter{
    width: fit-content;
    z-index: -1;
   
    filter: grayscale(75%)
    

}
.title{
    
    z-index: 2;
    padding: 10%;
    height: 100%;
    font-weight: 900;
    font-style:ultra-expanded ;   

    position: relative;
    
}
